name: CI

on: 
  push:
  pull_request:
  
permissions:
  contents: read

jobs:
  coding-standard:
    runs-on: ubuntu-latest
    name: Coding Standard
    
    steps:
      - uses: actions/checkout@v5
      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - uses: php-actions/composer@v6
        with:
          php_version: "8.0"
      - name: Check coding standard
        run: composer phpcs
    
  static-analysis:
    runs-on: ubuntu-latest
    name: Static Analysis
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Psalm
        uses: docker://ghcr.io/psalm/psalm-github-actions
        with:
          args: --shepherd
    
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php:
          - version: "8.0"
            phpunit: "9"
            args: "" 
          - version: "8.1"
            phpunit: "10"
            args: ""
          - version: "8.2"
            phpunit: "10"
            args: ""
          - version: "8.3"
            phpunit: "11"
            args: ""
          - version: "8.4"
            phpunit: "12"
            args: ""
          - version: "8.5"
            phpunit: "12"
            args: --display-deprecations --display-phpunit-deprecations

    name: "Test: PHP ${{ matrix.php.version }}"

    steps:
      - uses: actions/checkout@v5
      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - uses: php-actions/composer@v6
        with:
          dev: no
          php_version: "${{ matrix.php.version }}"
      - uses: php-actions/phpunit@v4
        env:
          XDEBUG_MODE: coverage
        with:
          version: "${{ matrix.php.phpunit }}"
          php_version: "${{ matrix.php.version }}"
          php_extensions: xdebug
          args: "--coverage-text ${{ matrix.php.args }}"

  rector:
    runs-on: ubuntu-latest
    name: Rector
    
    steps:
      - uses: actions/checkout@v5
      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}
      - uses: php-actions/composer@v6
        with:
          php_version: "8.5"
      - name: Check compatibility
        run: composer rector
